/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -50px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.logo {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;

}






/* search bar */
.searchbar-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding-right:10px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    max-width: 290px;
    min-width:200px;

}

.searchbar-container input {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    flex: 1;
    border: none;
    outline: none;
    /* min-width: 100px; */

}

.searchbar-container button {
    padding: 0;
    background: #f47cfb;
    border: none;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:40px;
    border-radius: 0 20px 20px 0;

}

.searchbar-container button img {
    width: 40px;
    height: 40px;
    object-fit:contain;
    display: flex;
    justify-content: center;

}

/* navigation */

nav {
    display: flex;
    justify-content: center;
    gap:120px;
    padding-bottom: 15px;
    max-width: 1200px;
    margin: auto;

}

button {
    background-color: #843cfb;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px 10px;
    min-width: 140px;
}

/* hoovering over the button colour change  */
button:hover {
    background-color: #f47cfb;
    color: black;

}

/* scrolling image container and wrapper */
.image-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.image-scroll-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    gap: 5px;
    width: 100%;
    /* stopping the wrapper streching on large screen */
    max-width: 1200px;
    padding-bottom: 5px;
    /* scrolling */
    /* horizontal scrolling  */
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #843cfb transparent
}

.image-scroll-wrapper::-webkit-scrollbar {
    height: 8px;
}

.image-scroll-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.image-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #843cfb;
    border-radius: 4px;
}


/* image within the scroll wrapper  */
.image-scroll-wrapper img {
    height: 500px;
    border-radius: 5px;
    flex-shrink: 0;
}




/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 20px;
    margin-top: 40px;
    width:100%;
}

.footer-logo{
    width: 80px;
    height: 80px;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
  gap:80px;
    
}
.footer-links a {
text-decoration: none;
color:black;
}

.footer-links a:hover{
    text-decoration: none;
    color:black;
}

.instagram-icon img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.instagram-icon img:hover {
    transform: scale(1.1);

}